<!DOCTYPE html>
<html>
  <head>
    <title>Datwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/b3d58caa15.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>
    <script type="text/javascript">
      window.secondcontainer = "<%= image_url('secondcontainerimg.svg') %>"
      window.thirdcontainer = "<%= image_url('thirdcontainerimg.svg') %>"
      window.fourthcontainer = "<%= image_url('fourthcontainerimg.svg') %>"
      window.fifthcontainer = "<%= image_url('fifthcontainerimg.svg') %>"
      window.firstcontainer1 = "<%= image_url('firstcontainerimg1.svg') %>"
      window.firstcontainer2 = "<%= image_url('firstcontainerimg2.svg') %>"
      window.startbg = "<%= image_url('startbg.svg') %>"
      window.logo = "<%= image_url('logotext.png') %>"
      window.datwire = "<%= image_url('datwire.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
